@charset "utf-8";

body{min-width: 320px;max-width: 640px;margin: 0 auto;padding-bottom:46px;}

/* header */
.header-bar {background:#000;border-bottom:1px solid #383838;z-index: 99999;}
.header-icon {position: absolute;bottom: 5px;width: 34px;height: 34px;}
.header-icon span {display: inline-block;text-indent: -9999px;background:url(topTab.png) no-repeat;width: 100%;height: 100%;background-size: 100%;}
.icon1 {left: 10px;}
.icon2 {left: 40px;}
.icon3 {right: 50px;}
.icon4 {right: 10px;}

.topmenu {position:absolute;right:5px;background:#E7E7E7;border-radius: 5px;border: 1px solid #CCC;visibility: hidden;/*opacity:0;-webkit-transition-duration:.5s;-moz-transition-duration:.5s;-ms-transition-duration:.5s;-o-transition-duration:.5s;transition-duration:.5s;*/min-width: 100px;text-align: center;}
.topmenu.active {visibility: visible;opacity:1;}
.topmenu ul{padding: 0 10px;}
.topmenu li{background:url(hsplit.png) center bottom no-repeat;background-size: 100% 2px;}
.topmenu li:last-child{background:none;}
.topmenu a{height:auto;line-height:44px;text-shadow: #FFF 0 1px 0;background: none;}
.topmenu .arr{width: 8px;height: 8px;background: #E7E7E7;display: inline-block;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);position: absolute;top: -5px;right:16px;border-left: 1px solid #CCC;border-top: 1px solid #CCC;}

.fixed_bottom{position: fixed;bottom:0;z-index:99999;text-align:center;border-top: 1px solid #B4B4B4;max-width:640px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#E7E7E7), to(#BBB));background-image:-moz-linear-gradient(bottom, #E7E7E7, #BBB);}
.fixed_bottom .tbl-cell{border: 1px solid #F5F5F5;border-bottom: none;position:relative;}
.fixed_bottom .p33{width:33%;}
.fixed_bottom .p34{width:34%;}
.fixed_bottom a{display:block;height:44px;line-height:44px;color:#414141;text-shadow: #E5E5E5 0 1px 0;}
.fixed_bottom .tbl-cell:nth-child(2){border-left:1px solid #B4B4B4;border-right:1px solid #B4B4B4;}

.subcate {position:absolute;bottom:55px;left:-1px;background:#E7E7E7;border-radius: 5px;border: 1px solid #CCC;width:100%;visibility: hidden;/*opacity:0;-webkit-transition-duration:.5s;-moz-transition-duration:.5s;-ms-transition-duration:.5s;-o-transition-duration:.5s;transition-duration:.5s;*/}
.subcate.active {visibility: visible;opacity:1;}
.subcate ul{padding: 0 5px;margin-bottom: -20px;}
.subcate li{background:url(hsplit.png) center bottom no-repeat;background-size: 100% 2px;}
.subcate li:last-child{background:none;}
.subcate a{height:auto;line-height:44px;text-shadow: #FFF 0 1px 0;background: none;}
.subcate .arr{width: 10px;height: 10px;background: #E7E7E7;display: inline-block;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);position: relative;bottom: -11px;border-right: 1px solid #CCC;border-bottom: 1px solid #CCC;}

